@charset "UTF-8";
/**
 * WordCamp Ogijima 2020 styles
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	1. 	Document Setup
	2. 	Element Base
	4. 	Site Header
	5. 	Menu Modal
	11. Entry Content
	15. Widgets
	16. Site Footer
	17. Media Queries

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*	1. Document Setup
/* -------------------------------------------------------------------------- */
body {
  background: #fff;
  color: #383838;
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; }

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; } }

/* -------------------------------------------------------------------------- */
/*	2. Element Base
/* ---------------------------------------------*---------------------------- */
h1,
.heading-size-1 {
  font-size: 3.052rem; }

h2,
.heading-size-2 {
  font-size: 2.441rem; }

h3,
.heading-size-3 {
  font-size: 1.953rem; }

h4,
.heading-size-4 {
  font-size: 1.563rem; }

h5,
.heading-size-5 {
  font-size: 1.25rem; }

h6,
.heading-size-6 {
  font-size: 1rem; }

p {
  line-height: 1.5;
  margin: 0 0 1em 0; }

a {
  color: #383838;
  text-decoration: underline; }

a:hover,
a:focus {
  color: #888;
  text-decoration: none; }

input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; }

@supports (font-variation-settings: normal) {
  input,
  textarea,
  button,
  .button,
  .faux-button,
  .faux-button.more-link,
  .wp-block-button__link,
  .wp-block-file__button {
    font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; } }

/* -------------------------------------------------------------------------- */
/*	4.	Site Header
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*	5. Menu Modal
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*	11. Entry Content
/* -------------------------------------------------------------------------- */
.entry-content p,
.entry-content ul li {
  font-size: 1.563rem;
  line-height: 1.6; }

/* Font Families ----------------------------- */
.entry-content {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: normal; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content cite,
.entry-content figcaption,
.entry-content table,
.entry-content address,
.entry-content .wp-caption-text,
.entry-content .wp-block-file {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; }

@supports (font-variation-settings: normal) {
  .entry-content h1,
  .entry-content h2,
  .entry-content h3,
  .entry-content h4,
  .entry-content h5,
  .entry-content h6,
  .entry-content cite,
  .entry-content figcaption,
  .entry-content table,
  .entry-content address,
  .entry-content .wp-caption-text,
  .entry-content .wp-block-file {
    font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; } }

/* Alignment Classes ------------------------- */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 90rem;
  width: calc(100% - 4rem); }

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 90rem;
  width: 100%; }

/* -------------------------------------------------------------------------- */
/*	15.	Widgets
/* -------------------------------------------------------------------------- */
/* Widget Base ------------------------------- */
.widget .widget-title {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 2rem;
  margin: 0 0 2rem; }

/* Font Families ----------------------------- */
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: normal; }

.widget-content cite,
.widget-content figcaption,
.widget-content .wp-caption-text {
  font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; }

@supports (font-variation-settings: normal) {
  .widget-content cite,
  .widget-content figcaption,
  .widget-content .wp-caption-text {
    font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif; } }

/* -------------------------------------------------------------------------- */
/*	16. Site Footer
/* -------------------------------------------------------------------------- */
.footer-nav-widgets-wrapper,
#site-footer {
  background-color: #fff;
  border-color: #dedfdf;
  border-style: solid;
  border-width: 0; }

/* -------------------------------------------------------------------------- */
/*	17. Media Queries
/* -------------------------------------------------------------------------- */
@media (min-width: 700px) {
  h1,
  .heading-size-1 {
    font-size: 4.209rem; }
  h2,
  .heading-size-2 {
    font-size: 3.157rem; }
  h3,
  .heading-size-3 {
    font-size: 2.369rem; }
  h4,
  .heading-size-4 {
    font-size: 1.777rem; }
  h5,
  .heading-size-5 {
    font-size: 1.333rem; }
  h6,
  .heading-size-6 {
    font-size: 1.8rem; }
  .site-description {
    display: block; }
  /* Widgets ------------------------------- */
  .widget .widget-title {
    font-size: 2.4rem;
    margin-bottom: 3rem; } }

/* -------------------------------------------------------------------------- */
/*	WordCamp Ogijima 2020 Custom STYLES
/* -------------------------------------------------------------------------- */
html[lang="ja"] h1.entry-title,
html[lang="ja"] h2.entry-title {
  text-align: left;
  font-size: 2.4rem; }

@media (min-width: 700px) {
  html[lang="ja"] h1.entry-title,
  html[lang="ja"] h2.entry-title {
    font-size: 3.4rem; } }

@media (min-width: 1220px) {
  html[lang="ja"] h1.entry-title,
  html[lang="ja"] h2.entry-title {
    font-size: 4rem; } }

html[lang="ja"] .widget .widget-title {
  font-size: 2rem; }

@media (min-width: 700px) {
  html[lang="ja"] .widget .widget-title {
    font-size: 2.4rem; } }

html[lang="ja"] h1, .heading-size-1 {
  font-size: 3.052rem; }

html[lang="ja"] h2, .heading-size-2 {
  font-size: 2.441rem; }

html[lang="ja"] h3, .heading-size-3 {
  font-size: 1.953rem; }

html[lang="ja"] h4, .heading-size-4 {
  font-size: 1.563rem; }

html[lang="ja"] h5, .heading-size-5 {
  font-size: 1.25rem; }

html[lang="ja"] h6, .heading-size-6 {
  font-size: 1rem; }

/* reset */
h1.entry-title,
h2.entry-title {
  text-align: left;
  font-size: 2.4rem; }

@media (min-width: 700px) {
  h1.entry-title,
  h2.entry-title {
    font-size: 3.4rem; } }

@media (min-width: 1220px) {
  h1.entry-title,
  h2.entry-title {
    font-size: 4rem; } }

/* base */
* {
  color: #383838;
  letter-spacing: 0; }

#wpadminbar a.ab-item span {
  color: #eee; }

#wpadminbar:not(.mobile) .ab-top-menu li:hover a.ab-item span {
  color: #00b9eb; }

.wp-block-button__link {
  text-transform: inherit; }

.entry-content form label {
  font-family: sans-serif; }

.entry-content form input:focus,
.entry-content form textarea:focus {
  outline: 1px #383838 solid; }

.entry-content form button {
  background: #383838;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc; }

.entry-content form button:hover {
  text-decoration: none;
  opacity: .7; }

.entry-content .flex {
  display: flex;
  flex-wrap: wrap; }

#site-content {
  background: #fff;
  padding-bottom: 100px; }

.archive-header-inner {
  max-width: 90rem !important; }

.archive-title {
  text-align: left;
  line-height: 1.6;
  font-family: "Inter var", Noto Sans JP;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 !important;
  width: calc(100% - 2rem);
  font-size: 3.2rem !important; }

.archive-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #666;
  margin-top: 2rem; }

.archive-title span.color-accent {
  display: none; }

#site-content .entry-categories-inner a {
  display: none; }

.entry-header-inner {
  max-width: 90rem !important; }

.entry-title {
  line-height: 1.6;
  font-family: "Inter var", Noto Sans JP;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 !important;
  width: calc(100% - 2rem);
  font-size: 3.2rem !important; }

.entry-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #666;
  margin-top: 2rem; }

.section-title {
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px; }
  .section-title:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #666;
    margin-top: 2rem; }
  .section-title em {
    display: block;
    font-style: normal;
    font-size: 1.953rem;
    font-weight: 700;
    letter-spacing: 1px; }

.sd-sharing {
  border-top: solid 1px #ccc; }

h3.sd-title {
  font-size: 1.8rem !important; }

blockquote.wp-block-quote {
  border-color: #ccc; }

a.more-link span.faux-button {
  background: #383838;
  border-radius: 5px;
  font-size: 1.6rem; }

a.more-link:hover span.faux-button {
  text-decoration: none;
  background: #666; }

.post-inner img {
  max-width: 100% !important; }

figcaption {
  font-size: 1.4rem !important;
  line-height: 1.4; }

.post-meta-single-top {
  max-width: 90rem; }

.post-meta-single-top .post-meta {
  justify-content: flex-end; }

.content-has-bg {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 30px;
  padding: 2em 1em;
  max-width: 58rem; }

@media (min-width: 700px) {
  .content-has-bg {
    padding: 4em 3em; } }

#site-content article {
  padding-top: 0 !important;
  padding-bottom: 5rem; }

ul.wp-block-latest-posts li {
  border-bottom: solid 1px #ccc; }

ul.wp-block-latest-posts li .alignleft {
  float: none;
  text-align: center;
  max-width: 100%; }

ul.wp-block-latest-posts li a {
  color: #383838; }

ul.wp-block-latest-posts li a:after {
  content: "ï¼ž";
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
  vertical-align: middle; }

ul.wp-block-latest-posts li a:hover {
  opacity: .7; }

@media (min-width: 700px) {
  ul.wp-block-latest-posts li {
    border-bottom: none; }
  ul.wp-block-latest-posts li .alignleft {
    float: left;
    max-width: 26rem; }
  /* .archive, .blog  */
  .archive article,
  .blog article {
    position: relative;
    max-width: 100rem !important;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important; }
    .archive article.sticky figure.featured-media,
    .blog article.sticky figure.featured-media {
      margin-top: 4rem;
      max-width: 60rem;
      width: 100%; }
    .archive article:not(.sticky) figure.featured-media,
    .blog article:not(.sticky) figure.featured-media {
      margin-top: 4rem;
      width: 40%; }
    .archive article:not(.sticky) .post-inner,
    .blog article:not(.sticky) .post-inner {
      margin-top: 4rem;
      padding-top: 0;
      width: 60%; }
    .archive article .entry-header,
    .blog article .entry-header {
      width: 100%;
      position: relative; }
    .archive article .section-inner,
    .blog article .section-inner {
      width: calc(100% - 2rem); }
    .archive article .entry-header-inner,
    .blog article .entry-header-inner {
      max-width: 100rem !important; } }

/* tickets */
.tix-column-description {
  line-height: 1.8; }

label.tix-ticket-title {
  padding-top: 1em;
  display: inline-block;
  color: #4e9aba; }

input[type="submit"] {
  background: #8de4dd;
  color: #383838;
  border-radius: 30px;
  font-size: 1.6rem;
  padding: 1em 4em; }

input[type="submit"]:hover {
  text-decoration: none;
  background: #9af9f0; }

th.tix-column-price {
  min-width: 4em;
  text-align: center; }

td.tix-column-price {
  text-align: center; }

/* footer */
.footer-credits {
  display: block;
  position: relative;
  text-align: center;
  width: 100%; }
  .footer-credits:before {
    background: url("https://2020.ogijima.wordcamp.org/files/2020/08/wp_logo_w.png") no-repeat center center;
    content: '';
    width: 54px;
    height: 54px;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }
  .footer-credits a:hover {
    color: #f1fbff; }

.footer-copyright {
  padding-top: 60px;
  text-align: center;
  margin: auto; }

/* -------------------------------------------------------------------------- */
/*	UTILITY STYLES
/* -------------------------------------------------------------------------- */
/* animation */
@keyframes float_logo {
  0% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  24% {
    -webkit-transform: translateX(-8px) rotate(5deg);
    transform: translateX(-8px) rotate(5deg); }
  48% {
    -webkit-transform: translateX(20px) rotate(-6deg);
    transform: translateX(20px) rotate(-6deg); }
  75% {
    -webkit-transform: translateX(-24px) rotate(5deg);
    transform: translateX(-24px) rotate(5deg); }
  100% {
    -webkit-transform: translateX(0) rotate(-4deg);
    transform: translateX(0) rotate(-4deg); } }

@keyframes float_img {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
