@charset "UTF-8";
// ======================================== 1. Document Setup

$font: "Inter var", 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;

body {
	background: #fff;
	//color: #000;
	color: #383838;
	//font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-family: $font;
}

@supports ( font-variation-settings: normal ) {

	body {
		//font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-family: $font;
	}
}

