@charset "UTF-8";
// ======================================== 1. Document Setup


/* @group utillty */

$basecolor: #383838;
$maincolor: #4E9ABA;
$subcolor: #F7931E;
$linkcolor:#0B697E;
$bp: 700px;


//メディアクエリ

// min-width
@mixin min($width) {
  @media print, screen and (min-width: $width) {
    @content;
  }
}
@mixin max($width) {
  @media print, screen and (max-width: $width) {
    @content;
  }
}

/* @end */

/* @group base */

// font
$font: "Inter var", 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;

body {
	background: #fff;
	//color: #000;
	color: #383838;
	//font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-family: $font;
}

@supports ( font-variation-settings: normal ) {
	body {
		//font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-family: $font;
	}
}

