@charset "UTF-8";
// ======================================== 11. Entry Content

.entry-content {
	p,
	ul li {
		font-size: 1.563rem;
		line-height: 1.6;
	}
} 

/* Font Families ----------------------------- */

.entry-content {
	//font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
	font-family: $font;
	letter-spacing: normal;
}

.entry-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	cite,
	figcaption,
	table,
	address,
	.wp-caption-text,
	.wp-block-file {
		//font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-family: $font;
	}
	form {
		label {
			font-family: sans-serif;
		}
		input:focus,
		textarea:focus {
			outline: 1px #383838 solid;
		}
		button {
			background: #383838;
			border-radius: 10px;
			box-shadow: 2px 2px 5px #ccc;
			&:hover {
				text-decoration: none;
				opacity: .7;
			}
		}
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
}
.entry-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.wapuu {
			&:before {
				background: url('https://2020.ogijima.wordcamp.org/files/2020/08/meon-wapuu-300x223.jpg') no-repaet center center;
				background-size: contain;
				content: '';
				display: inline-block;
				height: 1em;
				margin-left: 0.5em;
				width: 1em;
			}
		}
	}
}

@supports ( font-variation-settings: normal ) {
	.entry-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		cite,
		figcaption,
		table,
		address,
		.wp-caption-text,
		.wp-block-file {
			//font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
			font-family: $font;
		}
	}
}


/* Alignment Classes ------------------------- */

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 90rem;
	width: calc(100% - 4rem);
}

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 90rem;
	width: 100%;
}
