@charset "UTF-8";
// ======================================== 17. Media Queries
@media ( max-width: 479px ) {
}
@media ( min-width: 480px ) {
}
@media ( max-width: 599px ) {
}
@media ( min-width: 600px ) {
}
@media ( min-width: 660px ) {
}
@media ( min-width: 700px ) {

	h1,
	.heading-size-1 {
		//font-size: 6.4rem;
		font-size: 4.209rem;
	}

	h2,
	.heading-size-2 {
		//font-size: 4.8rem;
		font-size: 3.157rem;
	}

	h3,
	.heading-size-3 {
		//font-size: 4rem;
		font-size: 2.369rem;
	}

	h4,
	.heading-size-4 {
		//font-size: 3.2rem;
		font-size: 1.777rem;
	}

	h5,
	.heading-size-5 {
		//font-size: 2.4rem;
		font-size: 1.333rem;
	}

	h6,
	.heading-size-6 {
		font-size: 1.8rem;
	}

	.site-description {
		display: block;
	}

	/* Widgets ------------------------------- */

	.widget .widget-title {
		font-size: 2.4rem;
		margin-bottom: 3rem;
	}
}
@media (min-width: 782px) {
}
@media ( min-width: 1000px ) {
}
@media ( min-width: 1220px ) {
}
@media ( min-width: 1240px ) {
}
@media ( min-width: 1280px ) {
}
@media ( min-width: 1330px ) {
}
