@charset "UTF-8";
// ======================================== 4.	Site Header
.admin-bar {
	 .header-navigation-wrapper {
		 top: 40px;
	 }
	 img.custom-logo {
		top: 100px;
	}
}

#wpadminbar a.ab-item span {
	color: #eee;
}

#wpadminbar:not(.mobile) .ab-top-menu li:hover a.ab-item span {
	color: #00b9eb;
}

.site-description {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

#site-header{
	background: 
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 60%, #FFFFFF 100%),
		url('https://2020.ogijima.wordcamp.org/files/2020/08/content_bg.png') no-repeat center top;
	background-size: cover;
	padding-bottom: 80px;
	@include min($bp){
		padding-bottom: 80px;
	}
	@include min(1000px){
		padding-bottom: 200px;
	}
}

.home #site-header {
	background: url('https://2020.ogijima.wordcamp.org/files/2020/08/main_img_color.jpg') no-repeat center top;
	background-size: cover;
	padding-bottom: 600px;
	@include min($bp){
		background: url('https://2020.ogijima.wordcamp.org/files/2020/08/main_img_color.jpg') no-repeat center top;
		background-size: cover;
		padding-bottom: 900px;
	}
}

.header-inner {
	max-width: 120rem;
	margin: 0 auto;
}

.header-titles-wrapper {
	padding-right: 0;
}

.site-logo img {
	max-height: 8rem;
	position: fixed;
	top: 15px;
	left: 15px;
	animation-duration: 45s;
	animation-timing-function: ease-in-out;
	animation-delay: .2s;
	animation-iteration-count: infinite;
	animation-name: float_logo;
	z-index:1000;
	@include min($bp){
		max-height: 10rem;
		left: 5%;
	}
	@include min(1000px){
		max-height: 12rem;
		transform: rotate(-4deg);
		left: 5%;
		top: 80px;
	}
}

.home .site-logo img {
	position: absolute;
	top: 15px;
	left: 10px;
		@include min($bp){
		max-height: 15rem;
		left: 5%;
	}
	@include min(1000px){
		max-height: 18rem;
		transform: rotate(-4deg);
		left: 15%;
		top: 95px;
	}
}
