@charset "UTF-8";
// ======================================== 5. Menu Modal

//* @group navigation */

//* g_nav */

.header-navigation-wrapper {
	position: fixed;
	top: 15px;
	display: block;
	left: 0;
	right: 0;
	max-width: 90rem;
	padding: 15px 0 10px;
	margin:0 auto;
	@include min(1000px){
		background: rgba(243,243,243,0.85);
		border-radius:20px;
	}
}

.home .header-navigation-wrapper{
	position: absolute;
	top:auto;
	bottom:30px;
}

.primary-menu-wrapper {
	margin: 0 auto;
	max-width:70rem;
}

ul.primary-menu {
	justify-content:space-around;
    margin: -0.8rem 0 0 0;
	a:hover,
	a:focus,
	.current_page_ancestor {
		text-decoration: none;
	}
	li.current-menu-item > a,
	li.current-menu-item > .link-icon-wrapper > a {
		text-decoration: none;
	}
	li {
		//margin-left:30px;
		margin-left: 6px;
		a {
			color: $basecolor !important;
			text-decoration: none;
			font-size:14px;
			font-weight:bold;
		}
		a:after {
			content: "";
			height: 5px;
			display: block;
			margin-top:2px;
			transition: all 0.3s ease;
		}
		a:hover:after {
			background: $subcolor;
		}
	}
	.icon {
	  display: none;
	}
	.icon::before,
	.icon::after {
		content: none;
		display: none;
	}
	li.current-menu-item,
	li.current_page_ancestor{
		a {
			text-decoration: none;
			&:after {
				content: "";
				height: 5px;
				background: $subcolor;
				display: block;
			}
		}
		ul{
			li.current-menu-item a:after{
				background: $subcolor;
			}
			a{
				&:after{
					background:none;
				}
				&:hover:after{
					background: $subcolor;
				}
			}
		}
	}
	ul{
		background: rgba(255,255,255,0.95) !important;
		width:16rem;
		box-shadow:0 3px 3px #999;
		right: calc(-8rem + 50%) !important;
		border-radius:8px;
		&::after{
			border-bottom-color: rgba(255,255,255,0.95)  !important;
			width:1.5rem;
			right:0;
			left:0;
			margin:0 auto;
		} 
		li{
			margin-left:0;
			a{
				padding:10px 15px 5px;
			}
		}
	}
	li.menu-item-has-children{
		a {
			margin-right: 0;
			padding-right: 0;
		}
		ul{
			a{
				padding:10px 15px 5px !important;
			}
		}
	}
}

.primary-menu ul {
	display: none;
}
.primary-menu li.menu-item-has-children:hover > ul {
	display: block;
}

#site-header{
	.toggle {
		max-height: 50px;
		align-items: normal;
		&:focus{
			outline:none;
		}
	}
}

.button.toggle.close-nav-toggle:focus{
		outline:1px solid $linkcolor !important;
}

.modal-menu{
	li{
		a {
			color: $linkcolor;
			&:focus{
				outline:1px solid $linkcolor;
			}
		}
		ul li a{
			color: $linkcolor;
		}
	}
}



//* @end */
