@charset "UTF-8";
// ======================================== 9. Post: Single

.singular {
	.entry-header {
		padding: 2rem 0;
		@include min($bp) {
			padding: 4rem 0;
		}
	}
	&.single-post {
		.entry-header {
			@include min($bp) {
				padding: 2rem 0;
			}
		}
	}
}

/* fukidashi */
.fukidashi {
	img {
		border-radius: 30px;
		padding: 5px;
	}
	.wp-block-media-text__content {
		border:2px solid;
		border-radius: 20px;
		position: relative;
		@include min($bp) {
			padding: 3rem 2rem;
		}
		&:after,
		&:before{
			border: solid transparent;
			content:'';
			height:0;
			width:0;
			position:absolute;
			top:50%;
		}
		&:after{
			border-top-width:5px;
			border-bottom-width:5px;
			border-left-width:10px;
			border-right-width:10px;
			margin-top: -5px;
		}
		&:before{
			border-top-width:7px;
			border-bottom-width:7px;
			border-left-width:14px;
			border-right-width:14px;
			margin-top: -7px;
		}
	}
}

$left_media_border_color: #e9bd8b;
$right_media_border_color: #a2d1e6;

.fukidashi-left-media,
.fukidashi-right-media {
	.wp-block-media-text__content {
		@include min($bp) {
			padding: 3rem 2rem;
		}
	}
}
.fukidashi-left-media {
	.wp-block-media-text__content {
		border-color: $left_media_border_color;
		margin-left: 2em;
		&:after,
		&:before{
			right:100%;
		}
		&:after{
			border-right-color:#fff;
		}
		&:before{
			margin-right: 2px;
			border-right-color: $left_media_border_color;
		}
	}
}
.fukidashi-right-media {
	.wp-block-media-text__content {
		border-color: $right_media_border_color;
		margin-right: 2em;
		&:after,
		&:before{
			left:100%;
		}
		&:after{
			border-left-color:#fff;
		}
		&:before{
			margin-left: 2px;
			border-left-color: $right_media_border_color;
		}
	}
}

/* .attendees */
.page-slug-micro-sponsors,
.page-slug-attendees{
	ul.tix-attendee-list.tix-columns-3{
		li{
			padding:0;
			margin:0;
			@include max($bp){
				width:100% !important;
			}
		}
	}
}

#tix-attendees {
	.avatar {
		border-radius: 20px;
		padding: 5px;
		width: 80px;
		height: 80px;
	}
	.tix-field {
		margin-left: 100px;
		padding-top: 0.2em;
	}
}

/* tickets */
.tix-column-description {
	line-height: 1.8;
}

label.tix-ticket-title {
	padding-top: 1em;
	display: inline-block;
	color: #4e9aba;
}
input[type="submit"] {
	background: #8de4dd;
	color: #383838;
	border-radius: 30px;
	font-size: 1.6rem;
	padding: 1em 4em;
	&:hover {
		text-decoration: none;
		background: #9af9f0;
	}
}

th.tix-column-price {
	min-width: 4em;
	text-align: center;
}

td.tix-column-price {
	text-align: center;
}

/* session */
.tax-wcb_session_category,
.wcb_speaker,
.single-wcb_session {
	.post-meta-wrapper {
		display: none;
	}
	.entry-content {
		margin: auto;
		max-width: 90rem;
		width: calc(100% - 4rem);
	}
	#session-speaker-names {
		display: flex;
	}
	span.session-categories-links {
		margin-left: 2rem;
		a {
			background: #0B697E;
			border: none;
			border-radius: 3px;
			color: #fff !important;
			display: inline-block !important;
			font-size: 1.2rem;
			padding: 5px 15px;
			text-decoration: none;
			&:hover {
				opacity: .7;
			}
		}
	}
}
#session-speaker-names,
#speaker-session-names {
	margin: auto;
	em {
		font-style: normal;
		font-size: 0.85em;
		margin: 0 .5em;
	}
}
.wordcamp-sessions__title {
	em {
		font-style: normal;
		font-size: 0.85em;
		margin: 0 .5em;
	}
}

/* schedule */
.page.page-id-7.page-slug-schedule {
	a.show-email-form {
		background: #4e9aba;
		border: none;
		color: #fff;
		left: 12px;
		padding-top: 0;
		right: auto;
		text-decoration: none;
		width: 8em !important;
		@include min($bp){
			left: 100px;
		}
		.dashicons-star-filled {
			padding-top: 5px;
		}
		.dashicons-email-alt {
			&:before {
				color: #fff;
				content: 'お気に入りを保存する';
				display: block;
				font-size: 1.1rem;
				padding-top: 6px;
				width: 11rem !important;
			}
		}
	}
	.email-form {
		left: 12px;
		right: auto;
		width: 35rem!important;
		max-width: 35rem!important;
		@include min($bp){
			left: 100px;
		}
	}
	.email-form.fav-session-email-form-show {
		width: 35rem!important;
		max-width: 35rem!important;
	}
	.fav-session-share-tab div.active {
		background: #f0f8ff;
	}
	.fav-session-share-tabcontent {
		background: #f0f8ff;
	}
}

table.wcpt-schedule.alignwide {
	font-family: $font;
	font-size: 1.4rem;
	max-width: 90rem;
	@include min($bp){
		font-size: 1.6rem;
	}
}
th.wcpt-col-time:after {
	content:' (UTC+09)';
	font-size: 1rem;
	font-weight:400;
}
td.wcpt-col-time {
	font-size: 1.2rem;
  min-width: 8em;
}
th.wcpt-col-track {
	@include min($bp){
		width: 30%;
	}
}
.wcpt-schedule tbody tr td:first-of-type, .wcpt-schedule tbody tr td.wcpt-time  {
	display: table-cell;
	font-size: 1.2rem;
	line-height: 100%;
	color: #fff;
	padding: .5rem 1rem;
	background-color: #555;
	border: none;
	@include min($bp){
		display: block;
		text-align: right;
	}
}
@include max($bp) {
	.wcpt-schedule tr {
	border: none!important;
	}
}

$typ_session: #f4cccc;
$cat_session: #c9daf8;
$cat_meeting: #d9ead3;
$cat_workshop: #fff2cc;
$typ_custom: #efefef;
.wcpt-session-type-session {
	background: $typ_session;
	outline: 2px solid darken($typ_session, 15%)!important;
	outline-offset: -8px;
	line-height: 1.8;
	padding: 1.8rem 1.2rem;
}

//* YouTube */
.wcb-session-opening,
.wcb-session-closing,
.wcb-session-blockeditor,
.wcb-session-meeting,
.wcb-session-category-session {
	.wcb-session-cell-content {
		&::after {
			border-radius: 5px;
			background-color: #ff0000;
			color: #fff;
			content: 'YouTube';
			font-size: 1.2rem;
			font-weight: 900;
			margin-top: 1.2rem;
			padding: 3px 6px;
		}
	}
}

//* zoom */
.wcpt-time-1100am td,
.wcpt-time-200pm td,
.wcb-session-pm-workshop-1-2,
.wcpt-time-300pm td {
	&:not(.wcpt-time) {
		&::after {
			border-radius: 5px;
			background-color: #2D8CFF;
			color: #fff;
			content: 'Zoom';
			font-size: 1.2rem;
			font-weight: 900;
			margin-top: 1.2rem;
			padding: 3px 6px;
		}
	}
}

.wcb-session-category-session {
  background: $cat_session;
	outline: 2px solid darken($cat_session, 15%)!important;
	outline-offset: -8px;

}
.wcb-session-category-meeting {
  background: $cat_meeting;
	outline: 2px solid  darken($cat_meeting, 15%)!important;
	outline-offset: -8px;
}
.wcb-session-category-workshop {
  background: $cat_workshop;
	outline: 2px solid darken($cat_workshop, 15%)!important;
	outline-offset: -8px;
}
.wcpt-session-type-custom {
	background: $typ_custom;
	font-size: 1.2rem;
	text-align: center;
	span {
		letter-spacing: .3em;
	}
}
.wcb-favourite-session {
	background: inherit!important;
}
.session-category-table {
	font-size: 1.2rem;
	max-width: 60rem !important;
	@include min($bp){
		padding-left: 8em
	}
	td {
	font-size: 1.2rem;
		&:first-child {
			background: $cat_session;
		}
		&:nth-child(2) {
			background: $cat_meeting;
		}
		&:nth-child(3) {
			background: $cat_workshop;
		}
	}
}

.wcpt-session-type-session .wcb-session-cell-content:before {
	position: absolute;
}

.single-wcb_session .pagination-single {
	display: none;
}

.wcpt-session-title {
	display: table;
	margin: .8em 0;
	width: 100%;
	em {
		font-size: .85em;
		font-style: normal;
	}
}
span.wcpt-session-speakers {
	display: block;
	font-size: .9em;
}

#session-speaker-names {
	margin-bottom: 16px;
	li:first-child{
		margin-left: 0;
	}
}

/* organizers */

.wordcamp-organizer.wordcamp-organizers__post {
	@media (min-width: 700px) {
		display: flex;
		flex-wrap: wrap;
	}
	.jetpack-likes-widget-wrapper {
		display: none;
	}
}
.wordcamp-block__item-title.wordcamp-organizers__title {
	@media (min-width: 700px) {
		width: 100%;
	}
}
.wordcamp-image__avatar-container {
	@media (min-width: 700px) {
		padding-left: 1em;
		width: 25%;
	}
	.avatar {
		border-radius: 20px;
	}
}
.wordcamp-block__item-content.wordcamp-organizers__content {
	@media (min-width: 700px) {
		width: 75%;
	}
}

/* sessions */
.single-wcb_session {
	.post-inner {
		padding-top: 0;
	}
	.entry-content-title-orange {
		color: #F7931E;
		font-weight: 900;
		font-size: 2rem;
		line-height: 1.75;
		letter-spacing: 0.1em;
		margin: 6rem auto 2rem;
	}
}
.single-session-speaker-list {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	.wp-block-group__inner-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-shrink: 1;
		margin-left: -8px;
		margin-right: -8px;
		.wordcamp-post-list {
			width: 120px;
			flex-basis: 120px;
			text-align: center;
			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 0;
			padding: 0 8px;
			.wordcamp-post-list__post {
				margin-bottom: 0;
				margin-top: 8px;
			}
		}
	}
	.wordcamp-block__item-title{
		font-size: 1.4rem;
		font-weight: normal;
		margin: 0 0 8px;
	}
	.wordcamp-image__avatar-container{
		padding-left: 0;
		width: 100%;
	}
}
.online-type{
	.list-online-type{
		max-width: 90rem;
		width: calc(100% - 4rem);
		display: flex;
		margin: 0 -4px;

		.icon-online-type {
			padding: 4px;
			list-style: none;
		}

		.c-icon-zoom {
			background-color: #2D8CFF;
			color: #fff;
			border-radius: 5px;
			font-size: 1.2rem;
			font-weight: 900;
			font-style: normal;
			padding: 3px 6px;
			margin: 0 4px;
		}
		.c-icon-youtube {
		  background-color: #ff0000;
		  color: #fff;
		  border-radius: 5px;
		  font-size: 1.2rem;
		  font-weight: 900;
		  font-style: normal;
		  padding: 3px 6px;
		  margin: 0 4px;
		}
	}
}
.session-categories-links{
	display: inline-block;
	margin-top: 4rem;
}
