@charset "UTF-8";
// ======================================== WordCamp Ogijima 2020 Custom STYLES

#site-content {
	background: #fff;
	padding-bottom: 100px;
}

.archive-header-inner {
	max-width: 90rem !important;
}

.archive-title {
	text-align: left;
	line-height: 1.6;
	font-family: "Inter var", Noto Sans JP;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
    font-size: 3.2rem !important;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
    span.color-accent {
        display: none;
    }
}

#site-content .entry-categories-inner a {
	display: none;
}

.entry-header-inner {
	max-width: 90rem !important;
}

.entry-title {
	line-height: 1.6;
	font-family: "Inter var", Noto Sans JP;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
    font-size: 3.2rem !important;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
}

.section-title {
	line-height: 1.6;
	font-size: 3rem;
	font-weight: 900;
    letter-spacing: 1px;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
    em {
        display: block;
        font-style: normal;
        font-size: 1.953rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
}


.sd-sharing {
	border-top: solid 1px #ccc;
}

h3.sd-title {
	font-size: 1.8rem !important;
}

blockquote.wp-block-quote {
	border-color: #ccc;
}

a.more-link {
    span.faux-button {
        background: #383838;
        border-radius: 5px;
        font-size: 1.6rem;
    }
    &:hover span.faux-button {
        text-decoration: none;
        background: #666;
    }
}

.post-inner img {
	max-width: 100% !important;
}

figcaption {
	font-size: 1.4rem !important;
	line-height: 1.4;
}

.post-meta-single-top {
    max-width: 90rem;
    .post-meta {
        justify-content: flex-end;
    }
}

.content-has-bg {
	background-color: rgba(240,240,240,0.5);
	border-radius: 30px;
	padding: 2em 1em;
	max-width: 58rem;
    @media (min-width: 700px) {
        padding: 4em 3em;
    }
}


#site-content article {
	padding-top: 0 !important;
	padding-bottom: 5rem;
}

ul {
    &.wp-block-latest-posts {
        li {
            border-bottom: solid 1px #ccc;
            @media (min-width: 700px) {
                border-bottom: none;
            }
            .alignleft {
                float: none;
                text-align: center;
                max-width: 100%;
                @media (min-width: 700px) {
                    float: left;
                    max-width: 26rem;
                }
            }
            a {
                color: #383838;
                &:after {
                    content: "＞";
                    display: inline-block;
                    font-size: 10px;
                    margin-left: 10px;
                    vertical-align: middle;
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

/* .archive, .blog  */
.archive ,
.blog {
    @media (min-width: 700px) {
        article {
            position: relative;
            max-width: 100rem !important;
            padding-top: 200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center !important;
            &.sticky {
                figure.featured-media {
                    margin-top: 4rem;
                    max-width: 60rem;
                    width: 100%;
                }
            }
            &:not(.sticky) {
                figure.featured-media {
                  margin-top: 4rem;
                  width: 40%;
                }
                .post-inner {
                  margin-top: 4rem;
                  padding-top: 0;
                  width: 60%;
                }
            }
            .entry-header {
                width: 100%;
                position: relative;
              }
              .section-inner {
                width: calc(100% - 2rem);
              }
              .entry-header-inner {
                max-width: 100rem!important;
              }
        }
    }
}

/* tickets */
.tix-column-description {
    line-height: 1.8;
}

label.tix-ticket-title {
    padding-top: 1em;
    display: inline-block;
    color: #4e9aba;
}
input[type="submit"] {
    background: #8de4dd;
    color: #383838;
    border-radius: 30px;
    font-size: 1.6rem;
    padding: 1em 4em;
    &:hover {
        text-decoration: none;
        background: #9af9f0;
    }
}

th.tix-column-price {
    min-width: 4em;
    text-align: center;
}

td.tix-column-price {
    text-align: center;
}

/* attendees */
#tix-attendees {
    .avatar {
        border-radius: 20px;
        padding: 5px;
        width: 80px;
        height: 80px;
    }
    .tix-field {
        margin-left: 100px;
        padding-top: 0.2em;
    }
}

/* fukidashi */
.fukidashi-left-media,
.fukidashi-right-media,
.fukidashi {
    img {
        border-radius: 30px;
        padding: 5px;
    }
    .wp-block-media-text__content {
        border: 1px solid #ccc;
        border-radius: 20px;
        position: relative;
        &:after {
            color: #ccc;
            content: '○。';
            position: absolute;
            top: 30%;
        }
    }
}
.fukidashi-left-media {
    .wp-block-media-text__content {
        margin-left: 2em;
        &:after {
            left: -2.2em;
            transform: rotate(120deg);
        }
    }
}
.fukidashi-right-media {
    .wp-block-media-text__content {
        margin-right: 2em;
        &:after {
            right: -2.2em;
        }
    }
}


/* base */

.entry-header,
.archive-header{
	padding-top:20px !important;
}

.entry-header-inner {
		max-width: 90rem !important;
	}

h1.entry-title,
h2.entry-title {
	text-align: left;
	font-size: 2.4rem;
	font-weight: 900 ;
	@include min($bp){
		font-size: 3rem !important;
	}
	@include min(1220px){
		font-size: 3.4rem !important;
	}
}

.entry-title {
	line-height: 1.6;
	font-weight: 900 ;
	letter-spacing: 1px ;
	margin: 0 !important;
	width: calc(100% - 2rem);
	color:$maincolor;
	&:after {
		content: "";
		display: block;
		width: 40px;
		height: 3px;
		background: $subcolor;
		margin-top: 2rem;
	}
	em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
		}
}

h3.sd-title {
	font-size: 1.8rem !important;
}


.entry-content{
	h1,h2{
		font-size: 2.4rem;
		@include min($bp){
			font-size: 3rem !important;
		}
		@include min(1220px){
			font-size: 3.4rem !important;
		}
	}
	h3{
		font-size: 1.8rem;
		@include min($bp){
			font-size: 2rem !important;
		}
		@include min(1220px){
			font-size: 2.4rem !important;
		}
	}
	h4{
		font-size: 1.6rem;
		@include min($bp){
			font-size: 1.8rem !important;
		}
		@include min(1220px){
			font-size: 2rem !important;
		}
	}
	form {
		label {
			font-family: sans-serif;
		}
		input:focus,
		textarea:focus {
			outline-color:$linkcolor;
		}
	}
	button,
	.pushbutton-wide,
	.wp-block-button__link {
		background: #8DE4DD;
		color:$basecolor !important;
		border-radius: 30px;
		min-width:200px;
		margin:0 auto;
		display:block;
		transition: all 0.3s ease;
			&:hover {
				text-decoration: none;
				background: #9AF9F0;
			}
		}
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
	.section {
		width: 100% !important;
		max-width: 100% !important;
		border-bottom: solid 1px #8DE4DD;
		padding: 4rem 3rem 8rem;
		&:first-child {
			margin-top: 0 !important;
			padding-top: 0;
		}
		&.no_border {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.section-title {
		line-height: 1.6;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1px;
		color:$maincolor;
		@include min($bp){
			font-size: 3rem;
		}
		@include min(1220px){
			font-size: 3.4rem;
		}
		em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
		}
		&:after {
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background: $subcolor;
			margin-top: 2rem;
		}
	}
}

.archive-header-inner {
	max-width: 90rem !important;
}

.archive-title {
	text-align: left;
	line-height: 1.6;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
	font-size: 3.2rem !important;
	color:$maincolor;
	em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
		}
	&:after {
		content: "";
		display: block;
		width: 40px;
		height: 3px;
		background: $subcolor;
		margin-top: 2rem;
	}
	span.color-accent {
		display: none;
	}
}


.entry-categories-inner{
	justify-content:flex-end;
	a{
		display: inline-block !important;
		background:$linkcolor;
		padding:5px 15px;
		border:none;
		color:#fff !important;
		border-radius:3px;
		&:hover{
			opacity:0.7;
		}
	}
}


blockquote.wp-block-quote {
	border-color: #ccc;
}

.sd-sharing {
	border-top: solid 1px #ccc;
}

a.more-link {
	span.faux-button {
		background: #8DE4DD;
		color:$basecolor;
		border-radius: 30px;
		font-size: 1.6rem;
	}
	&:hover span.faux-button {
		text-decoration: none;
		background: #9AF9F0;
	}
}


.post-inner img {
	max-width: 100% !important;
}

figcaption {
	font-size: 1.4rem !important;
	line-height: 1.4;
}

.post-meta-single-top {
	max-width: 90rem;
	.post-meta {
		justify-content: flex-end;
	}
}

.content-has-bg {
	background-color: #DCFBFF;
	border-radius: 30px;
	padding: 2em 1em;
	max-width: 58rem;
	@include min($bp) {
		padding: 4em 3em;
	}
}


#site-content article {
	padding-top: 0 !important;
	padding-bottom: 5rem;
}

ul.wp-block-latest-posts {
	li {
		border-bottom: solid 1px #ccc;
		color: $basecolor;
		.alignleft {
			float: none;
			text-align: center;
			max-width: 100%;
		}
		a {
			color: $linkcolor;
			font-size:1.8rem;
		}
		a:after {
			content: "＞";
			display: inline-block;
			font-size: 10px;
			margin-left: 10px;
			vertical-align: middle;
		}
		a:hover {
			text-decoration:underline;
		}
		@include min($bp){
			border-bottom: none;
			.alignleft {
				float: left;
				max-width: 26rem;
			}
		}
	}
}



/* @end */

/* @group header */

/* header */
.site-description {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

#site-header{
	background: 
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 60%, #FFFFFF 100%),
		url('https://2020.ogijima.wordcamp.org/files/2020/08/content_bg.png') no-repeat center top;
	background-size: cover;
	padding-bottom: 80px;
	@include min($bp){
		padding-bottom: 80px;
	}
	@include min(1000px){
		padding-bottom: 200px;
	}
}

.home #site-header {
	background: url('https://2020.ogijima.wordcamp.org/files/2020/08/main_img_color.jpg') no-repeat center top;
	background-size: cover;
	padding-bottom: 600px;
	@include min($bp){
		background: url('https://2020.ogijima.wordcamp.org/files/2020/08/main_img_color.jpg') no-repeat center top;
		background-size: cover;
		padding-bottom: 900px;
	}
}

.header-inner {
	max-width: 120rem;
	margin: 0 auto;
}

.header-titles-wrapper {
	padding-right: 0;
}

.site-logo img {
	max-height: 8rem;
	position: fixed;
	top: 15px;
	left: 15px;
	animation-duration: 45s;
	animation-timing-function: ease-in-out;
	animation-delay: .2s;
	animation-iteration-count: infinite;
	animation-name: float_logo;
	z-index:1000;
	@include min($bp){
		max-height: 10rem;
		left: 5%;
	}
	@include min(1000px){
		max-height: 12rem;
		transform: rotate(-4deg);
		left: 5%;
		top: 15px;
	}
}

.home .site-logo img {
	position: absolute;
	top: 15px;
	left: 10px;
		@include min($bp){
		max-height: 15rem;
		left: 5%;
	}
	@include min(1000px){
		max-height: 18rem;
		transform: rotate(-4deg);
		left: 15%;
		top: 95px;
	}
}

/* @end */

/* @group navigation */

/* g_nav */

.header-navigation-wrapper {
	position: fixed;
	top: 15px;
	display: block;
	left: 0;
	right: 0;
	max-width: 90rem;
	padding: 15px 0 10px;
	margin:0 auto;
	@include min(1000px){
		background: rgba(243,243,243,0.85);
		border-radius:20px;
	}
}

.home .header-navigation-wrapper{
	position: absolute;
	top:auto;
	bottom:30px;
}

.primary-menu-wrapper {
	margin: 0 auto;
	max-width:70rem;
}

.primary-menu {
	a:hover,
	a:focus,
	.current_page_ancestor {
		text-decoration: none;
	}
	li.current-menu-item > a,
	li.current-menu-item > .link-icon-wrapper > a {
		text-decoration: none;
	}
	li {
		margin-left:30px;
		a {
			color: $basecolor !important;
			text-decoration: none;
			font-size:14px;
			font-weight:bold;
		}
		a:after {
			content: "";
			height: 5px;
			display: block;
			margin-top:2px;
			transition: all 0.3s ease;
		}
		a:hover:after {
			background: $subcolor;
		}
	}
	.icon {
	  display: none;
	}
	.icon::before,
	.icon::after {
		content: none;
		display: none;
	}
	li.current-menu-item,
	li.current_page_ancestor{
		a {
			text-decoration: none;
			&:after {
				content: "";
				height: 5px;
				background: $subcolor;
				display: block;
			}
		}
		ul{
			li.current-menu-item a:after{
				background: $subcolor;
			}
			a{
				&:after{
					background:none;
				}
				&:hover:after{
					background: $subcolor;
				}
			}
		}
	}
	ul{
		background: rgba(255,255,255,0.95) !important;
		width:16rem;
		box-shadow:0 3px 3px #999;
		right: calc(-8rem + 50%) !important;
		border-radius:8px;
		&::after{
			border-bottom-color: rgba(255,255,255,0.95)  !important;
			width:1.5rem;
			right:0;
			left:0;
			margin:0 auto;
		} 
		li{
			margin-left:0;
			a{
				padding:10px 15px 5px;
			}
		}
	}
	li.menu-item-has-children{
		a {
			padding-right: 0 !important;
		}
		ul{
			a{
				padding:10px 15px 5px !important;
			}
		}
	}
}

.home .primary-menu{
	justify-content:space-around;
}

#site-header{
	.toggle {
		max-height: 50px;
		align-items: normal;
		&:focus{
			outline:none;
		}
	}
}

.button.toggle.close-nav-toggle:focus{
		outline:1px solid $linkcolor !important;
}

.modal-menu{
	li{
		a {
			color: $linkcolor;
			&:focus{
				outline:1px solid $linkcolor;
			}
		}
		ul li a{
			color: $linkcolor;
		}
	}
}



/* @end */

/* @group footer */

/* footer */

.footer-nav-widgets-wrapper {
	margin-top:0 !important;
	border-color:#8DE4DD;
	background:url(https://2020.ogijima.wordcamp.org/files/2020/08/boar.png) no-repeat bottom 20px left 40px;
	background-size:85px auto;
	padding-bottom:80px;
	@include min($bp){
		padding-bottom:40px;
	}
	.footer-widgets-outer-wrapper{
		border-bottom:none;
	}
	.wcb_widget_sponsors {
		padding: 3rem;
		h2.widget-title {
			line-height: 1.6;
			font-size: 3rem;
			font-weight: 900 !important;
			letter-spacing: 1px;
			position:relative;
			color:$maincolor;
			margin-bottom:4rem;
			&:before{
				content: "スポンサー";
				display: block;
				position:absolute;
				padding-top:4.5rem;
				font-style: normal;
				font-size: 1.953rem;
				font-weight: 700;
				letter-spacing: 1px;
				color:$basecolor;
			}
			&:after {
				content: "";
				display: block;
				width: 40px;
				height: 3px;
				background: $subcolor;
				margin-top: 5rem;
			}
		}
		a {
			display: block;
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 30px;
			padding: 40px;
			text-align: center;
			img {
				max-width: 80%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.wcb_widget_sponsors .sponsor-logo {
		display: block!important;
		}
	@include min($bp){
		.footer-inner {
			max-width: 90rem;
		}
		.footer-widgets.column-one {
			width: 100%;
			.wcb_widget_sponsors {
				padding: 0;
				.sponsor-level {
					display: flex;
					position: relative;
					padding-top: 35px;
					justify-content: space-between;
					h4 {
						position: absolute;
						top: 0;
						font-size: 1.6rem;
							@include min($bp){
								font-size: 1.8rem !important;
							}
							@include min(1220px){
								font-size: 2rem !important;
							}
					}
					a {
						width: 48%;
					}
				}
			}
		}
	}
}


#site-footer {
	background: linear-gradient(rgba(78, 154, 186, 0.8), rgba(78, 154, 186, 0.8)),
url(https://2020.ogijima.wordcamp.org/files/2020/08/footer_bg.png);
	border-top: none;
	padding: 25px 0;
}
/*
.footer-credits {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('https://2020.ogijima.wordcamp.org/files/2020/08/wp_logo_w.png') no-repeat center center;
	width: 54px;
	height: 54px;
	background-size: contain;
	margin: 0 auto;
}
*/
a.to-the-top {
	position: fixed;
	bottom: 20px;
	right: -10px;
	display: block;
	background: url('https://2020.ogijima.wordcamp.org/files/2020/08/seagull_color.png') no-repeat center center;
	background-size: contain;
	width: 137px;
	height: 150px;
	z-index: 1000;
	transform: scale(1) rotate(0);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay: .5s;
	animation-iteration-count: infinite;
	animation-name: float_img;
	&:hover {
		animation: none;
		transform: rotate(2deg);
	}
	@include min($bp){
		width: 275px;
		height: 300px;
		right: -50px;
	}
}

.showing-modal a.to-the-top{
	display:none;
}


/* @end */

/* @group front page */

/* front page (.home) */



.home figure.featured-media,
.page-slug-en figure.featured-media {
	display: none;
}

.home .entry-header,
.page-slug-en .entry-header {
	margin-bottom: 0;
	padding-bottom: 0;
}

.home .entry-header{
	padding-top:80px !important;
}

.home .post-inner,
.page-slug-en .post-inner {
	padding-top: 0;
}


.home .content-has-bg,
.page-slug-en .content-has-bg{
	background:
		linear-gradient(180deg, rgba(220, 251, 255, 0.7) 0%, rgba(220, 251, 255, 1) 50%),
url(https://2020.ogijima.wordcamp.org/files/2020/08/content_bg.png) no-repeat top center ;
}


.home {
	.entry-title:after {
		content: none;
	}
	.section-inner.medium {
		margin: auto;
		margin-bottom: 0;
		max-width: 90rem;
		width: calc(100% - 4rem);
	}

}

.ogi_concept {
	.wp-block-buttons{
		text-align: right;
	}
}

.ogi_outline {
	h3 strong {
		display: inline-block;
		padding: 10px 25px;
		text-align: center;
		background: $subcolor;
		color:#fff;
		border-radius: 5px;
		font-size: 2rem;
		font-weight: bold;
	}
	p.date {
		font-family: "Inter var", "Noto Sans JP" !important;
		font-size: 2.2rem;
		font-weight: 900;
	}
}


.ogi_sns {
	ul.flex {
		list-style: none;
		flex-wrap: wrap;
		li {
			font-size: 14px;
			margin-left: 0;
			margin-right: 10%;
			a {
				transition: .3s ease 0;
				&:hover {
					opacity: .7;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/* @end */

/* @group blog archive page */

/* blog archive page (.page-slug-news) */
.page-slug-news,
.archive{
	.entry-title{
		a{
			color:$linkcolor;

		}
		&:after{
			content:none;
		}
	}
}


/* @end */

/* .attendees */

.page-slug-attendees{
	ul.tix-attendee-list.tix-columns-3{
		li{
			padding:0;
			margin:0;
			@include max($bp){
				width:100% !important;
				
			}
		}
	}
}