@charset "UTF-8";
// ======================================== WordCamp Ogijima 2020 Custom STYLES

//* base */

.entry-categories-inner{
	justify-content:flex-end;
	a{
		background:$linkcolor;
		border:none;
		border-radius:3px;
		color:#fff !important;
		display: inline-block !important;
		font-size: 1.2rem;
		padding:5px 15px;
		&:hover{
			opacity:0.7;
		}
	}
}

blockquote.wp-block-quote {
	border-color: #ccc;
}

.sd-sharing {
	border-top: solid 1px #ccc;
}

h3.sd-title {
	font-size: 1.8rem !important;
}

a.more-link {
	span.faux-button {
		background: #8DE4DD;
		color:$basecolor;
		border-radius: 30px;
		font-size: 1.6rem;
	}
	&:hover span.faux-button {
		text-decoration: none;
		background: #9AF9F0;
	}
}

.post-inner img {
	max-width: 100% !important;
}

figcaption {
	font-size: 1.4rem !important;
	line-height: 1.4;
}

.post-meta-single-top {
	max-width: 90rem;
	.post-meta {
		justify-content: flex-end;
	}
}

.content-has-bg {
	background-color: #DCFBFF;
	border-radius: 30px;
	padding: 2em 1em;
	max-width: 58rem;
	@include min($bp) {
		padding: 4em 3em;
	}
}

#site-content {
	background: #fff;
	padding-bottom: 100px;
	.entry-categories-inner a {
		display: none;
	}
	article {
		padding-top: 0 !important;
		padding-bottom: 5rem;
	}
}

.pagination-single-inner {
	font-size: 1.4rem;
}

/* footer-widgets を side bar として表示 */

.footer-widgets.column-two.grid-item {
	display: none;
}
@media (min-width: 700px) {
    //.archive.category article:first-of-type,
    //.archive.category article:nth-of-type(2),
    .archive.category article,
    //.blog article:first-of-type,
    //.blog article:nth-of-type(2),
    .blog article,
    .archive.category .archive-header-inner,
    .blog .archive-header-inner,
    .single-post article {
		padding-right: 25%!important;
		max-width: 90%!important;
		margin: auto;
    }
    .archive.category .footer-widgets.column-two.grid-item,
    .blog .footer-widgets.column-two.grid-item,
    .single-post .footer-widgets.column-two.grid-item {
		background: #c7e8ed;
		border-radius: 2rem;
		display: block;
		position: absolute;
		top: 30rem;
		right: 5%;
		width: 19%;
		padding: 1.6rem;
		margin: 0;
		.widget-title {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}
	}

    .archive.category .footer-widgets.column-two.grid-item a,
    .blog .footer-widgets.column-two.grid-item a,
    .single-post .footer-widgets.column-two.grid-item a {
        color: #0b697e;
        font-size: 14px;
    }
}
.archive,
.blog {
	:not(article) hr.styled-separator.section-inner:first-of-type {
    background: linear-gradient(to right, #4E9ABA calc(72% - 16px), transparent calc(28% + 16px));
	}
} 

.entry-content {
	a{
		color: #0B697E;
		&:hover{
			text-decoration: underline;
		}
	}
}

.wp-block-group__inner-container {
	a{
		color: #0B697E;
		&:hover{
			text-decoration:underline;
		}
	}
}

blockquote.wp-block-quote {
    border-color: #ccc;
    background-color: #DCFBFF;
    border-color: #8DE4DD;
    padding: 16px;
	position: relative;
	&:after {
		content: "“";
		font-family: Arial, sans-serif;
		font-weight: 700;
		font-size: 60px;
		position: absolute;
		color: #8DE4DD;
		top: -28px;
		left: 10px;
	}
}