@charset "UTF-8";
// ======================================== WordCamp Ogijima 2020 Custom STYLES

#site-content {
	background: #fff;
	padding-bottom: 100px;
}

.archive-header-inner {
	max-width: 90rem !important;
}

.archive-title {
	text-align: left;
	line-height: 1.6;
	font-family: "Inter var", Noto Sans JP;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
    font-size: 3.2rem !important;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
    span.color-accent {
        display: none;
    }
}

#site-content .entry-categories-inner a {
	display: none;
}

.entry-header-inner {
	max-width: 90rem !important;
}

.entry-title {
	line-height: 1.6;
	font-family: "Inter var", Noto Sans JP;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
    font-size: 3.2rem !important;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
}

.section-title {
	line-height: 1.6;
	font-size: 3rem;
	font-weight: 900;
    letter-spacing: 1px;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background: #666;
        margin-top: 2rem;
    }
    em {
        display: block;
        font-style: normal;
        font-size: 1.953rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
}


.sd-sharing {
	border-top: solid 1px #ccc;
}

h3.sd-title {
	font-size: 1.8rem !important;
}

blockquote.wp-block-quote {
	border-color: #ccc;
}

a.more-link {
    span.faux-button {
        background: #383838;
        border-radius: 5px;
        font-size: 1.6rem;
    }
    &:hover span.faux-button {
        text-decoration: none;
        background: #666;
    }
}

.post-inner img {
	max-width: 100% !important;
}

figcaption {
	font-size: 1.4rem !important;
	line-height: 1.4;
}

.post-meta-single-top {
    max-width: 90rem;
    .post-meta {
        justify-content: flex-end;
    }
}

.content-has-bg {
	background-color: rgba(240,240,240,0.5);
	border-radius: 30px;
	padding: 2em 1em;
	max-width: 58rem;
    @media (min-width: 700px) {
        padding: 4em 3em;
    }
}


#site-content article {
	padding-top: 0 !important;
	padding-bottom: 5rem;
}

ul {
    &.wp-block-latest-posts {
        li {
            border-bottom: solid 1px #ccc;
            @media (min-width: 700px) {
                border-bottom: none;
            }
            .alignleft {
                float: none;
                text-align: center;
                max-width: 100%;
                @media (min-width: 700px) {
                    float: left;
                    max-width: 26rem;
                }
            }
            a {
                color: #383838;
                &:after {
                    content: "＞";
                    display: inline-block;
                    font-size: 10px;
                    margin-left: 10px;
                    vertical-align: middle;
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

/* .archive, .blog  */
.archive ,
.blog {
    @media (min-width: 700px) {
        article {
            position: relative;
            max-width: 100rem !important;
            padding-top: 200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center !important;
            &.sticky {
                figure.featured-media {
                    margin-top: 4rem;
                    max-width: 60rem;
                    width: 100%;
                }
            }
            &:not(.sticky) {
                figure.featured-media {
                  margin-top: 4rem;
                  width: 40%;
                }
                .post-inner {
                  margin-top: 4rem;
                  padding-top: 0;
                  width: 60%;
                }
            }
            .entry-header {
                width: 100%;
                position: relative;
              }
              .section-inner {
                width: calc(100% - 2rem);
              }
              .entry-header-inner {
                max-width: 100rem!important;
              }
        }
    }
}

/* tickets */
.tix-column-description {
    line-height: 1.8;
}

label.tix-ticket-title {
    padding-top: 1em;
    display: inline-block;
    color: #4e9aba;
}
input[type="submit"] {
    background: #8de4dd;
    color: #383838;
    border-radius: 30px;
    font-size: 1.6rem;
    padding: 1em 4em;
    &:hover {
        text-decoration: none;
        background: #9af9f0;
    }
}

th.tix-column-price {
    min-width: 4em;
    text-align: center;
}

td.tix-column-price {
    text-align: center;
}

/* attendees */
#tix-attendees {
    .avatar {
        border-radius: 20px;
        padding: 5px;
        width: 80px;
        height: 80px;
    }
    .tix-field {
        margin-left: 100px;
        padding-top: 0.2em;
    }
}

/* fukidashi */
.fukidashi-left-media,
.fukidashi-right-media,
.fukidashi {
    img {
        border-radius: 30px;
        padding: 5px;
    }
    .wp-block-media-text__content {
        border:2px solid;
        border-radius: 20px;
        position: relative;
        &:after,
        &:before{
            border: solid transparent;
            content:'';
            height:0;
            width:0;
            position:absolute;
            top:50%;
        }
        &:after{
            border-top-width:5px;
            border-bottom-width:5px;
            border-left-width:10px;
            border-right-width:10px;
            margin-top: -5px;
        }
        &:before{
            border-top-width:7px;
            border-bottom-width:7px;
            border-left-width:14px;
            border-right-width:14px;
            margin-top: -7px;
        }
    }
}
$left_media_border_color: #e9bd8b;
$right_media_border_color: #a2d1e6;
.fukidashi-left-media {
    .wp-block-media-text__content {
        border-color: $left_media_border_color;
        margin-left: 2em;
        &:after,
        &:before{
            right:100%;
        }
        &:after{
            border-right-color:#fff;
        }
        &:before{
            margin-right: 2px;
            border-right-color: $left_media_border_color;
        }
    }
}
.fukidashi-right-media {
    .wp-block-media-text__content {
        border-color: $right_media_border_color;
        margin-right: 2em;
        &:after,
        &:before{
            left:100%;
        }
        &:after{
            border-left-color:#fff;
        }
        &:before{
            margin-left: 2px;
            border-left-color: $right_media_border_color;
        }
    }
}


/* base */

.entry-header,
.archive-header{
	padding-top:20px !important;
}

.entry-header-inner {
		max-width: 90rem !important;
	}

h1.entry-title,
h2.entry-title {
	text-align: left;
	font-size: 2.4rem;
	font-weight: 900 ;
	@include min($bp){
		font-size: 3rem !important;
	}
	@include min(1220px){
		//font-size: 3.4rem !important;
	}
}

.entry-title {
	line-height: 1.6;
	font-weight: 900 ;
	letter-spacing: 1px ;
	margin: 0 !important;
	width: calc(100% - 2rem);
	color:$maincolor;
	&:after {
		content: "";
		display: block;
		width: 40px;
		height: 3px;
		background: $subcolor;
		margin-top: 2rem;
	}
	em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
	}
}

h3.sd-title {
	font-size: 1.8rem !important;
}


.entry-content{
	h1,h2{
		font-size: 2.4rem;
		@include min($bp){
			//font-size: 3rem !important;
		}
		@include min(1220px){
			//font-size: 3.4rem !important;
		}
	}
	h3{
		font-size: 1.8rem;
		@include min($bp){
			//font-size: 2rem !important;
		}
		@include min(1220px){
			//font-size: 2.4rem !important;
		}
	}
	h4{
		font-size: 1.6rem;
		@include min($bp){
			//font-size: 1.8rem !important;
		}
		@include min(1220px){
			//font-size: 2rem !important;
		}
	}
	form {
		label {
			font-family: sans-serif;
		}
		input:focus,
		textarea:focus {
			outline-color:$linkcolor;
		}
	}
	button,
	.pushbutton-wide,
	.wp-block-button__link {
		background: #8DE4DD;
		color:$basecolor !important;
		border-radius: 30px;
		min-width:200px;
		margin:0 auto;
		display:block;
		transition: all 0.3s ease;
			&:hover {
				text-decoration: none;
				background: #9AF9F0;
			}
		}
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
	.section {
		width: 100% !important;
		max-width: 100% !important;
		border-bottom: solid 1px #8DE4DD;
		padding: 4rem 3rem 8rem;
		&:first-child {
			margin-top: 0 !important;
			padding-top: 0;
		}
		&.no_border {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.section-title {
		line-height: 1.6;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1px;
		color:$maincolor;
		@include min($bp){
			font-size: 3rem;
		}
		@include min(1220px){
			font-size: 3.4rem;
		}
		em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
		}
		&:after {
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background: $subcolor;
			margin-top: 2rem;
		}
	}
}

.archive-header-inner {
	max-width: 90rem !important;
}

.archive-title {
	text-align: left;
	line-height: 1.6;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0 !important;
	width: calc(100% - 2rem);
	font-size: 3.2rem !important;
	color:$maincolor;
	em {
			display: block;
			font-style: normal;
			font-size: 1.953rem;
			font-weight: 700;
			letter-spacing: 1px;
		}
	&:after {
		content: "";
		display: block;
		width: 40px;
		height: 3px;
		background: $subcolor;
		margin-top: 2rem;
	}
	span.color-accent {
		display: none;
	}
}


.entry-categories-inner{
	justify-content:flex-end;
	a{
		background:$linkcolor;
		border:none;
		border-radius:3px;
		color:#fff !important;
		display: inline-block !important;
		font-size: 1.2rem;
		padding:5px 15px;
		&:hover{
			opacity:0.7;
		}
	}
}


blockquote.wp-block-quote {
	border-color: #ccc;
}

.sd-sharing {
	border-top: solid 1px #ccc;
}

a.more-link {
	span.faux-button {
		background: #8DE4DD;
		color:$basecolor;
		border-radius: 30px;
		font-size: 1.6rem;
	}
	&:hover span.faux-button {
		text-decoration: none;
		background: #9AF9F0;
	}
}


.post-inner img {
	max-width: 100% !important;
}

figcaption {
	font-size: 1.4rem !important;
	line-height: 1.4;
}

.post-meta-single-top {
	max-width: 90rem;
	.post-meta {
		justify-content: flex-end;
	}
}

.content-has-bg {
	background-color: #DCFBFF;
	border-radius: 30px;
	padding: 2em 1em;
	max-width: 58rem;
	@include min($bp) {
		padding: 4em 3em;
	}
}


#site-content article {
	padding-top: 0 !important;
	padding-bottom: 5rem;
}

ul.wp-block-latest-posts {
	li {
		border-bottom: solid 1px #ccc;
		color: $basecolor;
		.alignleft {
			float: none;
			text-align: center;
			max-width: 100%;
		}
		a {
			color: $linkcolor;
			font-size:1.8rem;
		}
		a:after {
			content: "＞";
			display: inline-block;
			font-size: 10px;
			margin-left: 10px;
			vertical-align: middle;
		}
		a:hover {
			text-decoration:underline;
		}
		@include min($bp){
			border-bottom: none;
			.alignleft {
				float: left;
				max-width: 26rem;
			}
		}
	}
}

/* @group front page */

/* front page (.home) */



.home figure.featured-media,
.page-slug-en figure.featured-media {
	display: none;
}

.home .entry-header,
.page-slug-en .entry-header {
	margin-bottom: 0;
	padding-bottom: 0;
}

.home .entry-header{
	padding-top:80px !important;
}

.home .post-inner,
.page-slug-en .post-inner {
	padding-top: 0;
}


.home .content-has-bg,
.page-slug-en .content-has-bg{
	background:
		linear-gradient(180deg, rgba(220, 251, 255, 0.7) 0%, rgba(220, 251, 255, 1) 50%),
url(https://2020.ogijima.wordcamp.org/files/2020/08/content_bg.png) no-repeat top center ;
}


.home {
	.entry-title:after {
		content: none;
	}
	.section-inner.medium {
		margin: auto;
		margin-bottom: 0;
		max-width: 90rem;
		width: calc(100% - 4rem);
	}

}

.ogi_concept {
	.wp-block-buttons{
		text-align: right;
	}
}

.ogi_outline {
	h3 strong {
		display: inline-block;
		padding: 10px 25px;
		text-align: center;
		background: $subcolor;
		color:#fff;
		border-radius: 5px;
		font-size: 2rem;
		font-weight: bold;
	}
	p.date {
		font-family: "Inter var", "Noto Sans JP" !important;
		font-size: 2.2rem;
		font-weight: 900;
	}
}


.ogi_sns {
	ul.flex {
		list-style: none;
		flex-wrap: wrap;
		li {
			font-size: 14px;
			margin-left: 0;
			margin-right: 10%;
			a {
				transition: .3s ease 0;
				&:hover {
					opacity: .7;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/* @end */

/* @group blog archive page */

/* blog archive page (.page-slug-news) */
.page-slug-news,
.archive{
	.entry-title{
		a{
			color:$linkcolor;

		}
		&:after{
			content:none;
		}
	}
}


/* @end */

/* .attendees */

.page-slug-attendees{
	ul.tix-attendee-list.tix-columns-3{
		li{
			padding:0;
			margin:0;
			@include max($bp){
				width:100% !important;
				
			}
		}
	}
}